- hosts: local
  vars_files:
    - vars.yml

  tasks:
    - name: Start a new postgres container
      docker:
        image: "{{ psql_image }}"
        name: "{{ runbot_db }}"
        env: "POSTGRES_USER=runbot,POSTGRES_PASSWORD={{ psql_password }}"
        publish_all_ports: yes
        volumes:
          - "{{ working_folder }}/psql_data:/var/lib/postgresql/data"

    - name: Start a new runbot container
      docker:
        image: "{{ runbot_image_name }}"
        name: "{{ runbot_container_name }}"
        command: "/entrypoint.sh"
        hostname: "{{ runbot_hostname }}"
        publish_all_ports: yes
        privileged: yes
        volumes:
          - "{{ working_folder }}/static:/home/runbot/instance/extra_addons/odoo-extra/runbot/static"
          - "{{ working_folder }}/logs:/var/log/supervisor"
          - "{{ working_folder }}/docker:/var/lib/docker"
        links:
          - "{{ runbot_db }}:dbrunbot"
